@model IEnumerable<AtlasTracker.Models.Ticket>
@using AtlasTracker.Services.Interfaces

@inject IBTTicketService TicketService

@{
    ViewData["Title"] = "AllTickets";
}

<header class="page-header">
    <h2>All Tickets</h2>

    <div class="right-wrapper text-end">
        <ol class="breadcrumbs">
            <li>
                <a asp-action="Dashboard" asp-controller="Home">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>

            <li><span>All Tickets</span></li>

        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
    </div>
</header>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
            </div>
        </div>
    </div>
</div>

<table class="table" id="AllTicketsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Archived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArchivedByProject)
            </th>
            <th>Project Manager</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Archived)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArchivedByProject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketStatus!.Name)
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-sm btn-outline-dark" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-sm btn-outline-danger" asp-action="Archive" asp-route-id="@item.Id">Archive</a> |
                    <a class="btn btn-sm btn-outline-danger" asp-action="AssignMembers" asp-route-id="@item.Id">Manage Team</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {

<script>
    $(document).ready( function () {
        $('#AllTicketsTable').DataTable();
    } );
</script>

}