@model IEnumerable<AtlasTracker.Models.Ticket>
@using AtlasTracker.Services.Interfaces

@inject IBTTicketService TicketService

@{
    ViewData["Title"] = "AllTickets";
}

<header class="page-header">
    <h2>All Tickets</h2>
    <div class="right-wrapper text-end">
        <ol class="breadcrumbs">
            <li>
                <a>
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>
            <li><span>All Tickets</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
    </div>
</header>


<table class="table" id="AllTicketsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArchivedByProject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.Created)</p>
                    <strong>Updated</strong>
                    <div class="text-center">(@Html.DisplayFor(modelItem => item.Updated))</div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Archived)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArchivedByProject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketStatus!.Name)
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-sm btn-outline-dark" asp-action="Details" asp-route-ticketId="@item.Id" >Details</a> |
                    <a class="btn btn-sm btn-outline-danger" asp-action="Archive" asp-route-id="@item.Id">Archive</a> |
                    @*<a class="btn btn-sm btn-outline-danger" asp-action="AssignTickets" asp-route-id="@item.Id">Manage Team</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts {

<script>
    $(document).ready( function () {
        $('#AllTicketsTable').DataTable();
    } );
</script>

}