@model AtlasTracker.Models.Project
@using AtlasTracker.Models.Enums
@using AtlasTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity

@inject IBTProjectService ProjectService
@inject UserManager<BTUser> UserManager

@{
    ViewData["Title"] = "Details";
    BTUser btUser = await UserManager.GetUserAsync(User);
    BTUser projectManager = await ProjectService.GetProjectManagerAsync(Model!.Id);
}

<header class="page-header">
    <h2>Project Details</h2>
    <div class="right-wrapper text-end">
        <ol class="breadcrumbs">
            <li>
                <a>
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>
            <li><span>Details</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
    </div>
</header>

<div class="row col-cols-2 mt-1 border border-2 border-dark">
    <div class="card col m-1 p-2 ">
        <div class="">
            @* Project Name*@
            <h5>@Model!.Name</h5>
            @* Project Description*@
            <p>@Model.Description</p>
            <div class="progress-container progress-info m-b-25">
                <span class="progress-badge" style="font-size:small">Project Status</span>
                <div class="progress">
                    @* Razor code block*@
                    @{
                        var start = Model.StartDate.DateTime;
                        var end = Model.EndDate.DateTime;
                        var today = DateTime.Now;
                        var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
                    }
                    
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
                        @* Use Progress Bar code variable here*@
                        <span class="progress-value">@percent%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card col m-1 p-2">
        <div class="body">
            <ul class="list-unstyled basic-list">
                <li>Start Date: <span class="">@Model.StartDate.ToString("MMM dd, yyyy")</span></li>
                <li>Deadline: <span class="">@Model.EndDate.ToString("MMM dd, yyyy")</span></li>
                <li>Priority: <span class="">@Model.ProjectPriority?.Name</span></li>
                @*if() logic*@
                @if (today < end && today >= start)
                {
                    <li>Status: <span class="fw-bold">Active</span></li>
                }
                else
                {
                    <li>Status: <span class="fw-bold">InActive</span></li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="col-md-4 col mt-1">
    <div class="bg-secondary">
        <div class="card m-1 p-2">
            <div class="body h-50" style="overflow-y:auto;height:50px;">
                [Project Manager]
                @* if() logic for Avatar/Default etc *@
                @if (projectManager != null)
                {
                    <div>
                        @if (projectManager.AvatarData != null)
                        {
                            <img class="rounded-circle" src="data:image/*;base64,@(Convert.ToBase64String(projectManager.AvatarData))" alt="">
                        }
                        else
                        {
                            <img class="rounded-circle" style="width:60px;height:60px;" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="">
                        }
                        <div>
                            <h5>@projectManager.FullName</h5>
                            <span>@projectManager.Email</span>
                            <p class="text-muted m-b-0">Project Manager</p>
                            @if (User.IsInRole(nameof(BTRole.Admin)) || (btUser.Id == projectManager.Id))
                            {
                                <a class="btn btn-xs alert-primary" style="font:small" asp-action="AssignMembers" asp-controller="Projects" asp-route-id="@Model.Id">Manage Team</a>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div>
                        <img class="rounded-circle" style="width:60px;height:60px;" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="">
                        <div class="wid-u-info">
                            <h5 class="text-muted m-b-0">Not Assigned</h5>
                            @if (User.IsInRole(nameof(BTRole.Admin)))
                            {
                                <span><a asp-action="AssignPM" asp-controller="Projects" asp-route-projectId="@Model.Id" class="btn btn-xs btn-outline-info">Assign PM</a></span>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="col-md-4 col mt-5 ">
    <div class="bg-secondary">
        <div class="card m-1 p-2">
            <div class="body" style="overflow-y:auto;height:50px;">

                <ul class="right_chat list-unstyled mb-0">

                    @foreach (BTUser member in await ProjectService.GetAllProjectMembersExceptPMAsync(Model.Id))
                    {
                        <li class="">
                            <a href="">
                                <div class="media">
                                    @if (member.AvatarData != null)
                                    {
                                        <img class="" src="data:image/*;base64,@(Convert.ToBase64String(member.AvatarData))" alt="" />
                                    }
                                    else
                                    {
                                        <img class="" style="width:30px;height:30px;" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="" />
                                    }
                                </div>
                            </a>
                            <div class="">
                                <span class="">@member.FullName</span>
                                <span class="" style="font-size:x-small">[@((await UserManager.GetRolesAsync(member)).FirstOrDefault())]</span>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4 col mt-5 ">
    <div class="bg-dark">
        <div class="card m-1 p-2">
            <div class="body" style="overflow-y:auto;height:300px;background-color:antiquewhite">
                @* Project Activity loop *@
                [Project Activity  e.g. Ticket History]
            </div>

        </div>
    </div>
</div>


<div class="col-md-12 col">
    <div class="mt-5">
        <div class="card m-1 p-2">
            <div class="body">
                <div class="table-responsive" style="overflow-y:auto;height:50px;">
                    <table class="table table-hover">
                        <thead class="">
                            <tr>
                                <th>Title</th>
                                <th>Developer</th>
                                <th>Status</th>
                                <th>Priority</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Ticket ticket in Model.Tickets.OrderByDescending(d => d.Created))
                            {
                                <tr>
                                    <td><a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id" style="color:black"><strong>@ticket.Title</strong></a> </td>
                                    <td>
                                        @if (ticket.DeveloperUserId != null)
                                        {
                                            @ticket.DeveloperUser?.FullName
                                        }
                                        else
                                        {
                                            if (User.IsInRole(nameof(BTRole.Admin)) || User.IsInRole(nameof(BTRole.ProjectManager)))
                                            {
                                                <a class="btn btn-xs btn-info" asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-ticketId="@ticket.Id">Assign Dev</a>
                                            }
                                        }
                                    </td>
                                    @if (ticket.TicketStatus!.Name == nameof(BTTicketStatus.New))
                                    {
                                        <td><span class="badge-success">@ticket.TicketStatus.Name </span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge-primary">@ticket.TicketStatus.Name </span></td>
                                    }
                                    <td><span class="">@ticket.TicketPriority!.Name </span></td>
                                    <td>@ticket.Created.ToString()</td>
                                    <td>
                                        <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id"><i class="fs-5 bi-justify"></i></a>
                                        @if (ticket.DeveloperUserId == btUser.Id || ticket.OwnerUserId == btUser.Id || (projectManager?.Id == btUser.Id) || User.IsInRole(nameof(BTRole.Admin)))
                                        {
                                            <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-controller="Tickets" asp-route-id="@ticket.Id"><i class="fs-5 bi-pencil"></i></a>
                                        }
                                        @if (User.IsInRole("Admin") || (projectManager?.Id == btUser.Id))
                                        {
                                            <a class="btn btn-sm btn-outline-danger"><i class="fs-5 bi-archive"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
