@model AtlasTracker.Models.ViewModels.DashboardViewModel
@using AtlasTracker.Models.Enums
@using Microsoft.AspNetCore.Identity
@using AtlasTracker.Services.Interfaces

@inject IBTProjectService ProjectService
@inject UserManager<BTUser> UserManager
@inject IBTTicketService TicketService
@inject IBTRolesService RolesService

@{
    ViewData["Title"] = "Dashboard";
    BTUser btUser = await UserManager.GetUserAsync(User);
}

<h1>Dashboard</h1>

<a href="javascript:void(0);">
    @* User Info *@
    @if (btUser?.AvatarData != null)
    {
        <img class="media-object " src="data:image/*;base64,@(Convert.ToBase64String(btUser.AvatarData))" alt="">
    }
    else
    {
        <img class="media-object " src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="" style="width:30px;height:30px">
    }
</a>

@* Get The btUser FullName *@
<strong>@btUser!.FullName</strong>
<span class="text-muted" style="font-size:x-small;">
    @* Company Name *@
    <strong>@Model!.Company!.Name</strong>
</span>


<div>
    <div class="font-weight eighteight getainer-fluid">
        <div class="row gy-2">
            <div class="col-md-12 col">
                <div class="row col-cols-4 mt-5 bg-secondary">
                    <div class="card col m-1 p-2">
                        <div class="card-body">
                            <h5>Chart 1</h5>
                            <p>add projects</p>
                        </div>
                    </div>
                    <div class="card col m-1 p-2">
                        <div class="card-body">
                            <h5>Chart 2</h5>
                            <p>add projects</p>
                        </div>
                    </div>
                    <div class="card col m-1 p-2">
                        <div class="card-body">
                            <h5>Chart 3</h5>
                            <p>add tickets</p>
                        </div>
                    </div>
                    <div class="card col m-1 p-2">
                        <div class="card-body">
                            <h5>Chart 4</h5>
                            <p>add tickets</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gy-2">
            <div class="cols mt-5 bg-secondary">
                <div class="card col m-1 p-2">
                    <div class="card-body" style="height:380px">
                        <h5>Chart 5</h5>
                        <p>[Projects: Tickets vs Developers]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="mt-5 ">
        <div class="row">
            @* Projects Table *@
            <div class="col">
                <div class="bg-secondary">
                    <div class="card m-1 p-2">
                        <div class="card-header">
                            <h2>Projects</h2>
                        </div>
                        <div class="card-body">
                            @* [Copy and format table from Unassigned Tickets] *@
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>End Date</th>
                                        <th>End Date</th>
                                        <th>Priority</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @foreach (Project project in Model.Projects!.OrderBy(p => p.EndDate))
                                {
                                    @if (!project.Archived)
                                    {
                                        <tr>
                                            <td><a asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id">@project.Name</a></td>
                                            <td>@project.Description</td>
                                            <td>@project.EndDate.DateTime.ToString("MMM dd, yyyy")</td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
            @* Tickets Table *@
            <div class="col">
                <div class="bg-secondary">
                    <div class="card m-1 p-2">
                        <div class="card-header">
                            <h2>Tickets</h2>
                        </div>
                        <div class="card-body">

                            @* Copy and format table from Unassigned Tickets *@
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Title</th>

                                        <th>Status</th>
                                        <th>Priority</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                @foreach (Ticket ticket in Model.Tickets!.OrderBy(p => p.Created))
                                {
                                    @if (!(ticket.Archived || ticket.ArchivedByProject)
                                        && ticket.DeveloperUserId == btUser.Id
                                        || (User.IsInRole(nameof(BTRole.Admin)) || User.IsInRole(nameof(BTRole.ProjectManager)))
                                        )
                                    {
                                        <tr>
                                            <td><a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id">@ticket.Title</a></td>
                                            <td>@ticket.TicketStatus!.Name</td>
                                            <td>@ticket.TicketPriority!.Name</td>
                                            <td>@ticket.Created</td>
                                        </tr>
                                    }
                                }
                            </table>

                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="bg-dark">
                    <div class="card m-1 p-2">
                        <div class="card-header">
                            <h2>Members</h2>
                            <hr />
                        </div>
                        <div class="card-body" style="overflow-y:auto;height:600px;background-color:antiquewhite">
                            @* Looop over Company members. Display Name and Role *@
                            <ul class="right_chat list-unstyled mb-0">

                                @*@foreach (BTUser member in await ProjectService.GetAllProjectMembersExceptPMAsync(projectId))
                                {
                                    <li class="">
                                        <a href="">
                                            <div class="media">
                                                @if (member.AvatarData != null)
                                                {
                                                    <img class="" src="data:image/*;base64,@(Convert.ToBase64String(member.AvatarData))" alt="" />
                                                }
                                                else
                                                {
                                                    <img class="" style="width:30px;height:30px;" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="" />
                                                }
                                            </div>
                                        </a>
                                        <div class="">
                                            <span class="">@member.FullName</span>
                                            <span class="" style="font-size:x-small">[@((await UserManager.GetRolesAsync(member)).FirstOrDefault())]</span>
                                        </div>
                                    </li>
                                }*@
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>